body {
  background-color: white;
  font-family: 'Mina';
  font-style: normal;
}

.header {
  background-color: #2AFDFD;
  height: 25vh;
  margin: 16px;
  display: flex;
  justify-content: space-between;
  padding: 32px;
  font-size: 32px;
}

.header a {
  color: black;
}

.header a:hover {
  color: #CA9AFF;
}

h2 {
  margin: 0%;
}

.links-header {
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: right;
}

.links-header p {
  margin: 0%;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 160px;
  margin: 0px;
  color: #CA9AFF;
  text-align: center;
  word-spacing: 60px;
}

h3 {
  font-weight: normal;
}

.content {
  /* background-color: #EDDDFF; */
  margin-left: 20vw;
  margin-right: 20vw;
  height: 75vh;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: normal;
}

.statement {
  margin-left: 20vw;
  margin-right: 20vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 400;
  line-height: 76px;
  letter-spacing: -0.04em;
  text-align: center;
}

.about-experience {
  margin-left: 20vw;
  margin-right: 20vw;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 8vh;
  /* height: 60vh; */
}

.cards {
  margin-left: 20vw;
  margin-right: 20vw;
  display: grid;
  grid-template-columns: repeat(2, 1.2fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  margin-bottom: 8vh;
}

.card-style {
  background-color: #AAFEE1;
  padding: 40px;
  margin: 0px;
  font-size: 20px;
}

.wrapper-access {
  margin: 16px;
  background-color: #FFFEBC;
}

.wrapper-access p {
  text-align: center;
  padding-top: 40px;
  font-size: 24px;
}

.access {
  display: flex;
  justify-content: center;
  align-items: center;
}

.device {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px
}

.viewport {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.team {
  margin-left: 20vw;
  margin-right: 20vw;
  display: grid;
  grid-template-columns: repeat(3, 1.2fr);
  grid-template-rows: repeat(2, 1.2fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  margin-bottom: 8vh;
}

.team-mate {
  background-color: #FFDDFC;
  padding: 40px;
}

.poster {
  padding-left: 20vw;
  padding-right: 20vw;
  margin-bottom: 8vh;
}

.poster img {
  width: 100%;
}

.logo {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}